*{
    background-color: papayawhip;
}
.idiv {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.container {
    margin-top: 100px;
    width: 400px;
    height: 500px;
    text-align: center;
    border-radius: 10px;
    background-color: #eee;
    box-shadow: 3px 3px 0 1px #ddd;
}
img{
    position: relative;
    margin: 50px 50px 10px 50px;
    width: 300px;
    height: 300px;
}
h1 {
    margin: 0 10px;
    background-color: #eee;
}
p{
    background-color: #eee;
}